@font-face {
  font-family: roundedMplus1c;
  src: url('../Fonts/Rounded Mplus 1c/RoundedMplus1c-Regular.ttf');
}
@font-face {
  font-family: roundedMplus1cBold;
  src: url('../Fonts/Rounded Mplus 1c Bold/RoundedMplus1c-Bold.ttf');
}
@font-face {
  font-family: roundedMplus1cExtraBold;
  src: url('../Fonts/Rounded Mplus 1c ExtraBold/RoundedMplus1c-ExtraBold.ttf');
}
@font-face {
  font-family: roundedMplus1cLight;
  src: url('../Fonts/Rounded Mplus 1c Light/RoundedMplus1c-Light.ttf');
}
div{
  font-family: roundedMplus1c;
}
.base{
  background-color: white;
}
.banner h1{
  font-family: roundedMplus1cLight;
  color:#2F2D36;
  font-size: 20pt;
width: 60%;
margin-left: 20%;
}
.bannerimg{
  /* width: 10em; */
  background:url(../Links/iStock-981607986.jpg);
  /* height:1em; */

  height: 100vh;
  min-height: 500px;
background-position: top;
background-size: cover;
background-repeat: no-repeat;
/* color:white; */
}
.toolbar{
    background-color: #2F2D36;
    color: white;
}
.toolbar .login{
  background-color:#FDC00F;
  padding: 0.45em .5em .45em .5em;
  font-family: roundedMplus1cBold;
  border-radius: 4px;
  width: 6%;
}


.toolbar div a {
	color: white;
	margin-right: auto;
	/* font-size: 20pt; */
  font-size: 11pt;
	/* font-size: 9pt; */
	/* width: 10%; */
	display: inline-block;
  line-height: 10px;

	margin-left: 4%;
}
.toolbar div a:hover {
  /* color:red; */
  -moz-transition:all .2s ease-in;
  -o-transition:all .2s ease-in;
  -webkit-transition:all .2x ease-in;
  border-style:solid;
  border-color: white;
  border-style: solid none solid none;
  border-width: 1px;
  padding-top:0.3em;
  padding-bottom:0.3em;
  text-decoration: none;
}
.testblock{
  background-color:red;
  width:10%;
  display:block;
}
.toolbar div{

  padding-top:0.5em;
  height:4em;

}
.toolbar .burger{
    display: none;
}
.searchbar{
  position:absolute;
  /* top:4em; */
  height: 2em;
  width: 100%;
  max-width:none;
  padding-top: 0.2em;
}
.searchbar .searchcontainer{
  margin-left: 25%;
width: 75%;
}

.searchbar p, .searchbar input{
  display:inline-block;
}
.searchbar p{
  color:white;
  font-style: italic;
}
.searchbar button{
  background-color:#A9A7AB;

border:none;
height: 1.62em;
}
.searchbar button:hover{
  background-color: white;
}
.searchbar input{
  font-family: roundedMplus1cLight;
  background-color:#A9A7AB;
  border: none;
  padding-left: 0.4em;
  float: left;
}

.searchbar .bg{
  background-color: #2F2D36;
  width:100%;
  height:100%;
  position: absolute;
  opacity: 0.5;
  top:0;
  z-index: -1;
}

.searchcontainer{
  display:inline-block;
}
.searchbar .searchcontainer div{
  display:inline-block;
}
.footer li{
  list-style: none;

}
.footer ul{
  padding:unset;
}
.footer div{
font-size: 10pt
}
.footer h1{
  font-family: roundedMplus1cBold;
  font-size: 10pt;
}
.footer .row{
  margin-left: unset;
  margin-right:unset;
}
.footer{
  padding-top:4em;
  background-color:#2F2D36;
  color:#B2B1B5;
  display:block;
  position:relative;
}

.linkfooter{
  /* width:100%; */
}
.linkfooter i{
  color: #FDC00F;
}
.linkfooter h1{
  width:100%;
  color: #FDC00F;
}
.linkfooter ul li{
  font-size:8pt;
  list-style-image:url(../Links/arrow.png) 5pt;
}
.contact{
}
.contact li{
  font-size:8pt;
}
.contact h1{
  font-size:9pt;
  font-family: roundedMplus1cExtraBold;
  font-weight:bold;
}


.quote{
  font-size: 18pt;
  margin-top:5%;
  font-family: roundedMplus1cBold;
  margin-bottom: 5%;
  color:#157262;
}
.news ol, .news ul{
  color: #157262;
}
.textbox{
  padding-top:4em;
  padding-bottom:4em;
}
.textbox iframe{
  min-height: 20em;
}
.ytembed h1{
  color:#157262;
}
.ytembed p{
  color:#157262;

}
.artimg{
  /* max-height: 18em; */
    height: 15em;
    padding-bottom: 2.5em;

}

.artimg div{
  background:url(../Links/iStock-531150967.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;

  width: 100%;
  height: 100%;
}

.artimg p{
  font-size: 10pt;
  padding-top: 1em;
  font-style:italic;
}
.date {
  /* margin-top: 1em; */
  padding-top: 1.2em;
margin-bottom: unset;
font-size: 13pt;
}
.subtitle {
  margin-bottom: 1em;
  font-size: 20pt;
  font-family: roundedMplus1cLight;
}
.news{
  padding-top: 2em;
  padding-bottom:2em;
}

.news p{

}
.news h1{
  margin-bottom: 0.1em;
/* font-family: roundedMplus1cBold; */
}

.bimg{
  height: 10vh;
min-height: 370px;

background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.bimg .bg{
  opacity: 0.7;
  position: absolute;
  top: 4em;
  z-index: -2;
  height:100%;
  max-height: 100%;
  background:url(../Links/iStock-981607986.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.bimg .banner{
  margin-top: 5em;
}

.darkyellow {
  color: #FDC00F;
}
.footerbar{
  border-color: #FDC00F;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width:100%;

  border-style: solid none none none;
  border-width: thin;
  margin-bottom: .5rem;
}

.swingboy{
  background:url(../Links/boy-on-swing-aqua.jpg);
  height: 10vh;
  min-height: 500px;
background-position:top;
background-size: cover;
background-repeat: no-repeat;

}
.swingboy .bgholder{
  height: 3em;
  width:50%;
position:relative;
display:inline-block;
}
.swingboy .bg{
  background-color:white;
  width:100%;
  height:100%;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  border:solid;
  border-width: 1px;
  border-color: black;
}

.swingboy h1{
  margin-top:12%;
  font-family: roundedMplus1cLight;
  color:#157262;
  z-index: 3;
  position: relative;
}
.swingboy ul{
  padding-left: unset;
  position: relative;
}
.swingboy .bgholder:nth-child(even) .bg{
  opacity: 0.7;

}
.swingboy .bgholder:nth-child(even) li {
  font-family: roundedMplus1cLight;
  color: #212529;
}
.swingboy li{
  padding-left: 0.5em;
  list-style: none;
  font-size: 25pt;
  font-family: roundedMplus1cExtraBold;
  color:#157262;
  z-index: 2;
  position: absolute;
  height:100%;
}

.block{
  border-style: solid;
  border-color: white;
  text-align: center;
  height:100%;
  padding:unset;
}
.block h1{
  font-family: roundedMplus1cBold;
  position: relative;
  z-index: 2;
  color: #04A58E;
  /* background-color: white; */
  padding-left:1em;
  padding-right:1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  /* margin-top:40%; */
  /* margin-left: auto; */
  cursor: pointer;
  /* width: 50%; */
font-size:14pt;
  margin-bottom:unset;
  /* margin-right: auto; */
}
.blocktext{
  margin-top: 35%;
  position:relative;
  border-style:solid;
  border-color:white;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  border-style: solid none solid none;
  border-width: 1px;
  padding-top:0.3em;
  padding-bottom:0.3em;
}

.blocktext .white{
  background-color: white;
  /* width: 50%; */
}

.block:hover .white{
  background-color:unset;
}

.block:hover .white h1{
  color:white;
  background-color:unset;

  /* background-color:none; */
}


.aimg{
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}
.aimg:hover{
  opacity: 0.4;
  cursor: pointer;
}
.articles{
  height: 20em;
  background-color: #40DABC;
}

.articles .row{
  height:100%;
}


#navrail {

  display: block;
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  z-index: 1000;
  padding-top: 2em;
  padding-left: 15px;
}

#navrail li{
  font-family: roundedMplus1cLight;
}
#navrail ul li {

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  margin-left: 0;
  margin-right: 0;
  list-style: none;
  margin-bottom: 1em;
  line-height: 1.3;
  font-weight: 300;

  font-size: 0.8em;

    cursor: pointer;
    text-align: center;
}

#navrail ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  /* width: 10%; */
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 1em;
  top: 2em;
  z-index: 1000;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid #2C3D6C;
  border-top: 1px solid #2C3D6C;
  margin-bottom: unset;
}
#navrail ul div {
  /* font-family: "Ubuntu", sans-serif; */
  font-size: 1.0em;
  line-height: 1.2em;
  color: #2C3D6C;

}

  #navrail div li{
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    color: #2C3D6C;
    text-align: center;
    text-transform: capitalize;
    list-style: none;
    /* margin-bottom: 1em;
    line-height: 1.3; */
    font-weight: 300;
    font-size: 0.8em;
  }

  #navrail ul a {

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* float: left; */
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    color: #2C3D6C;
    text-align: center;
    text-transform: capitalize;
  }
    #navrail ul li :hover {
      -moz-transition:all .2s ease-in;
      -o-transition:all .2s ease-in;
      -webkit-transition:all .2x ease-in;
      border-style:solid;
      border-color: #212529;
      border-style: solid none solid none;
      border-width: 1px;
      padding-top:0.3em;
      padding-bottom:0.3em;
  }
  #navrail #sampleExpand li{
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    -webkit-transition:all .2x ease-in;
    color: #04A58E;
    cursor:auto;
    font-size: 10pt;
    border-style:solid;
    border-color: #04A58E;
    border-style: solid none solid none;
    border-width: 1px;
    padding-top:0.3em;
    padding-bottom:0.3em;
    width:80%;
    margin-left:10%;
    margin-right:10%;
  }
  #navrail .collapseable{
    padding-left: 35%;
  }
  .collapseable{
    display:inline-block;
    margin-left: 25%;

  }
  .collapseable li{
    display:inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
    margin-bottom: 1em;
    line-height: 1.3;
    font-weight: 300;

    font-size: 0.8em;

      cursor: pointer;
      text-align: center;
  }
.block1{
  background:url(../Links/iStock-531150967.jpg);
background-position: top;
background-size: cover;
background-repeat: no-repeat;
height:100%;
}
.block2{
  background:url(../Links/iStock-614859992.jpg);
background-position: top;
background-size: cover;
background-repeat: no-repeat;
height:100%;

}
.block3{
  background:url(../Links/iStock-860923864.jpg);
background-position: top;
background-size: cover;
background-repeat: no-repeat;
height:100%;
}
#mobilemenu{
  display:block;
  margin-left:18%;
}
.bimg img{
  height:8em;
}


@media screen and (max-width: 1500px) {
  .toolbar .login{
    padding: 0.45em .5em .45em .5em;
    width: 7%;
  }
  .toolbar{
    width:90%;
    margin-left:5%;
  }
  .toolbar div a {

    font-size: 10pt;

    /* width: 10%; */
    display: inline-block;
    line-height: 10px;
    margin-left: 1%;
    /* margin-left: auto; */
    }

    #mobilemenu{
      display:block;
      margin-left:15%;
    }
}
@media screen and (max-width: 1200px) {
  .toolbar div a {
    font-size: 8pt;
  }
  #mobilemenu{
    margin-left:13%;
  }
  .searchcontainer input{
    width: unset;
  }
  .searchcontainer div div{
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .bimg img{
    height:4em;
  }
  #navrail .collapseable{
    padding-left: 20%;
  }
  .searchbar{
    height:2em;
    top:unset;
  }
  #mobilemenu{
    margin-left:8%;
  }

  .searchcontainer input{
    width: 50%;
  }

}
@media screen and (max-width: 850 px){
  #mobilemenu{
    margin-left:unset;
  }
  .searchbar{
    height:5em;
    /* top:unset; */
  }

}
@media screen and (max-width: 700px) {
  .banner h1{
    font-size: 15pt;
  }
  .swingboy .bgholder {
  	height: 1.9em;
  }
  .swingboy h1{
    margin-top:20%;
    font-size: 15pt;
  }
  .swingboy li{
    font-size: 15pt;
  }
  .textbox iframe{
    margin-bottom: 3em;
  }
  .searchbar .searchcontainer {
	margin-left: 25%;
	max-width: 75%;
}
    .articles {
      height:unset;
    }

    .footer div {
  	/* font-size: 10pt; */
  	padding-top: 1em;
  }
  .footer {
	padding-top: 1em;
  }
  .block {
    height:20em;
  }

  .swingboy{
    min-height:12em;
  }
  .textbox iframe{
    min-height: 15em;
  }
  #navrail{
    position:relative;
    display:none;
  }
  .artimg{
    min-height: 15em;
  }
  .toolbar{
    position: sticky;
    top:0;
    z-index: 10;
    /* height:13em; */
  }
  .toolbar div{
    height:unset;
      padding-top:1em;
    padding-bottom:1em;
  }
  .toolbar i{
    display: inline-block;
  }
  /* .toolbar div a {
  	font-size: 9pt;
  	width: 100%;
  	display: block;
    line-height: unset;
  } */
  .toolbar div a {
	font-size: 15pt;
	width: 100%;
	display: block;
	line-height: unset;
	padding-bottom: 0.5em;
}
  #mobilemenu{
    display:none;
  }
  .searchbar{
    height:5em;
    top:unset;
  }
  .collapse.show {
  	display: block!important;
  }
  .toolbar .burger{
      display: block;
  }

  .toolbar .login {

	width: 30%;
  }
}
